:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--slate);
  background-color: var(--white);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ---Logo--- */
.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}

.logo-word {
  color: var(--navy-blue);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-word-footer {
  color: var(--cloud);
}

/* ---Menu Items--- */
.menu-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--navy-blue);
  padding: 24px 0;
}

.menu-item:hover,
.menu-item:focus {
  color: var(--ocean);
}

.header-link {
  color: inherit;
}

/* ---Contacts--- */
.contacts {
  padding-top: 24px;
}

.contact-list {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.contact-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  color: var(--slate);
}

.address-link {
  color: inherit;
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

/* ---Footer--- */
.footer-box {
  background: var(--navy-blue);
  padding: 100px 0;
}

.text-footer {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* ---Utility--- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
